html {
   height: 100%;
      font-family: Georgia, 'Times New Roman', Times, serif;

}
body {
   height: 100%;
   background-color: #1A1A1A;
   color: #E0E0E0;
}

#information {
   display: flex;
   height: 100%;
   justify-content: center;
}

#header {
   text-align: center;
}

.skill-category {
   padding: 15px;
   margin: 15px;
   width: 20%;
   height: 30%;
   text-align: left;
   border-color: white;
   border-width: 5px;
   border-style: solid;
   border-radius: 4px;
}