html {
   height: 100%;
   font-family: Georgia, 'Times New Roman', Times, serif;

}
body {
   height: 100%;
   background-color: #1A1A1A;
   color: #E0E0E0;
}

.apiPulls {
   display: flex;
   justify-content: space-around;
   align-items: top;
}

#weather-data {
   font-size: 20px;
   border-style: solid;
   border-width: 8px;
   border-color: #E0E0E0;
   padding: 35px;
   border-radius: 20px;
   background-color: #2A2A2A;
}

#scryfall-data {
   font-size: 20px;
   border-style: solid;
   border-width: 8px;
   border-color: #E0E0E0;
   padding: 35px;
   border-radius: 20px;
   background-color: #2A2A2A;
}
